<h1 style="color: white">Profile</h1>

<%= image_tag "default.jpg", :alt => "default", :size => "98x120" %>>

<div id="name" style="color: white">
  <label for="name">Name</label>
</div>

<div id="lastname" style="color: white">
<label for="lastname">Lastname</label>
</div>

<div id="email" style="color: white">
  <label for="email">Email</label>
</div>





