<%= form_with(model: @category, local: true) do |form| %>




  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div>
    <%= form.submit%>
  </div>



<% end %>